@charset "utf-8";

#plek_naam {
	margin-top: 5px;
	margin-left: 2px;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	text-align: left;
	font-size: 28px;
	font-family: Roboto, Helvetica, sans-serif;
}

#plek_beschrijving {
	width: 100% - 20px;
	margin: -8px 0 0 0;
	color: white;
	background: transparent;
}

#plek_beschrijving table td {
	text-align: left;	
}

.plek_groep {
	margin-bottom: 10px;	
}

.plek_groep_naam {
	padding-left: 10px;
	font-size: 22px;
	margin-bottom: -3px;
	font-family: Roboto, Helvetica, sans-serif;
}

.plek_sectie {
	background: white;
	width: 100% - 20px;
	padding: 5px 10px;
	margin: 2px 10px 0 10px;
	color: black;
	overflow: hidden;
}



.plek_sectie table {
	width: 100%;
}

.plek_sectie table th {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	width: auto;
}

.plek_sectie table td {
	font-size: 15px;
	font-weight: normal;
	text-align: right;
	width: auto;
}