@charset "utf-8";
body {
	font-family: Roboto, sans-serif;
	background:url(../img/RoermondBlur.png);
}
.content {
	z-index: 2;	
}
.button_menu {
	margin: 0;
	padding: 0;
	
	position: absolute;
	width: 18%;
	max-width: 100px;
	min-width: 30px;
	height: 35px;
	z-index: 2;
	
	top: 10px;
	left: 0;
	text-align: right;
	border: 0;
}
.button_back {
	min-width: 30px;
	height: inherit;
		
}
header {
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 24px;
	z-index: 0;	
}
.page_title {
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: center;
	font-family: "Roboto Light", Roboto, sans-serif;
	font-weight: lighter;
}

.kompas {
	position: absolute;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	overflow: hidden;
}
#wijzer {
	overflow: hidden;	
}



#plek_naam {
	padding-top: 20px;
	font-family: "Roboto Light", Roboto, sans-serif;
	font-weight: lighter;
	font-size: 24px;
}

#plek_info_page {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: -60px;
	padding: 10px 10px 0 10px;
	min-height: 100%;
}

#plek_beschrijving {
	margin-top: 8px;	
}

.infosection {
	position: relative;	
	background: #F7F7F7;
	padding: 10px;
	margin: 20px -10px -10px -10px;
}

#plek_info {
	height: 100%;
	width: 100%;	
}

#plek_info td {
	vertical-align: middle;
	padding-left: 15px;
	height: 55px;
}

#plek_info th{
	width: 40px;
	vertical-align: middle;
	height: 55px;
}
#plek_info th img{
	height: 45px;
}

#keuzelijst {
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;	
}