@charset "utf-8";
body {
	font-family: Roboto, sans-serif;
}

/* MENU */
.button_menu {
	margin: 0;
	padding: 0;
	
	position: absolute;
	width: 18%;
	max-width: 100px;
	min-width: 30px;
	height: 35px;
	z-index: 2;
	
	top: 10px;
	left: 0;
	text-align: right;
	border: 0;
}
.button_back {
	min-width: 30px;
	height: inherit;
		
}
.header {
	width: 90%;
	height: auto;
	display: block;
	margin: 15px auto 10px auto;
}

.page_title {
	width: 200px;
	height: auto;
	display: block;
	margin: 5px auto 10px auto;
}

#btn-start {
	background-color: rgba(255,255,255,0.42);
	width: 100%;
	height: 200px;
	margin: 10px auto 5px auto;
	text-decoration: none;
}

h1 {
	text-align: center;	
	font-size: 28px;
	font-weight: normal;
	font-style:
}

#btn-info-roermond {
	background-color: rgba(255,255,255,0.42);
	width: 100%;
	margin: 5px auto 10px auto;
}


/* PAGINA */
.page {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 100%;
	background-image:url(../img/Bg_kathedraal3.jpg);
	background-size:cover;
	background-position: center;
	z-index: 0;
}

.bg-gradient {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	background-image:url(../img/gradient.png);
	background-size: cover;
	z-index: -1;
}

.keuzebody {
	margin: 5px 10px 0 10px;	
}

	/* KEUZES */
	#keuzelijst {
		opacity: 0.8;
		
	}
	
	
	/* KOMPAS */
	.kompas {
		position: absolute;
		margin-top: -50%;
		margin-bottom: -50%;
		top: 50%; left: 0; bottom: 0; right: 0;
		width: 100%;
		height: 100vw;
	}
	.kompasbg {
		position: absolute;
		margin: auto;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 100%;
	}
	#wijzer {
		overflow: hidden;	
	}

/* INFOPAGINA */
#page_info {
	position: absolute;
	top: 100%; left: 0; bottom: 0; right: 0;
	margin: -44px 0 0 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1;
}

#plek_naam {
	padding-top: 10px;
	font-family: "Roboto Light", Roboto, sans-serif;
	font-size: 24px;
	text-align: center;
}

	/* INFO */
	#section_info {
		margin: 10px 5px;
	}
	
	.infoblok {
		font-size: 14px;	
		margin: 0 0 5px 0;
		padding: 10px;
		/*border: 1px solid #DDD;*/
	}
	
	#info_straat {
		font-size: 14px;	
		margin: 0 -6px 8px -6px;		
		text-align: center;
		padding: 5px 0;
		background: #F0F0F0;
	}
		
	/* KAART */
	#map {
		height: 150px;
		max-height: 30vw;
	}

.schaduw {
	width: 100%;
	height: 10px;
	background-image:url(../img/schaduw.png);
	background-repeat:repeat-x;
}

#shade_info {
	position: absolute;
	bottom: 44px;	
}