<?xml version="1.0" encoding="utf-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.wordpress.mcyars.roermondbuiten"
        version   = "1.0.1">
		
		<name>ROERMOND:BUITEN</name>
		
		<description>
		Informatica Eindproject V5
		</description>
		
		<author href="http://mcyars.wordpress.com">
		McYars
		</author>
		
		<gap:platform name="android" />
		<icon src="img/Logo.png" />
		<preference name="phonegap-version" value="3.3.0" />
		<preference name="orientation" value="portrait" />
		
		<gap:plugin name="org.apache.cordova.geolocation" />
		<feature name="http://api.phonegap.com/1.0/geolocation"/>


</widget>
