@charset "utf-8";
/* CSS Document */
body{
	margin:0;
}

#pagecontainer {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;
}

.page {
	position: relative;
	top: 0;
	height: inherit;
	width: inherit;
}

#pag1 {
	background: #003333;
	left: 0;
}

#pag2 {
	background: #00CC00;
	left: 100%;
	top: -100%;
}

#pag3 {
	background: #FF9900;
	left: 200%;
	top: -200%;
}