@charset "utf-8";
/* CSS Document */
body{
	margin:0;
}

#actionbar {
	height: 15px;
	width: 100%;
	background: #E3E3E3;
	margin-bottom: 8px;
}

#kompasbox {
	height: auto;
	width: 100%;
	text-align: center;
}

#kompas {
	width: 80%;
	height: auto;
}

#pagecontainer {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.page {
	position: relative;
	height: inherit;
	width: inherit;
	background: #141414;
	
}

#pag1 {
	left: 0;
}

#pag2 {
	left: 100%;
	top: -100%;
	background: #EFEFEF;
}

#pag3 {
	left: 200%;
	top: -200%;
}