@charset "utf-8";
/* CSS Document */
body{
	margin:0;
}

#pagecontainer {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.page {
	position: relative;
	height: inherit;
	width: inherit;
	background: #141414;
	
}

#pag1 {
	left: 0;
}

#pag2 {
	left: 100%;
	top: -100%;
	background: #EFEFEF;
}

#pag3 {
	left: 200%;
	top: -200%;
}