@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-image: url(../img/RoermondBlur.png);
	background-attachment: fixed;
	background-position:center;
	background-origin:content-box;
	background-repeat: no-repeat;
	color: white;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

#actionbar {
	z-index: 0;
	position: relative;
	height: 44px;
	max-height: 44px;
	width: 100% - 20px;
	text-align: right;
	padding: 5px 10px;
}

.menu {
	position: relative;
	float: left;
	height: 100%;
	width: 50%;
	top: -5px;
	left: -10px;
	padding: 5px 0;
	text-align: left;
}

#menuimg{
	padding: 10px 0;
}

.actionknop {
	padding: 2px 0;
	height: 100%;
	max-height: 40px;
	width: auto;
}

.kompasbox {
	position: relative;
	width: 100% - 20px;
	text-align: center;
	padding: 10px;
	height: auto;
}

#kompas {
	width: 100%;
	max-width: 400px;
	height: auto;
}

#afstand {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 32px;
	height: inherit;
	width: inherit;
}
	
	